{% extends 'base.html.twig' %}


{% block body %}

<h1>testou</h1>
<div>
    <div>{{ "+1 year"|date('Y') }}</div>
    {# crée une variable ! #}
    {% set name = "Sofiane" %}
    <h2>{{ name|length }}</h2>

    {# crée un tableau #}
    {% set colors = ["orange", "brown", "turquoise", "blue"] %}

    <div>Nombre de couleurs : {{ colors|length }}</div>
    <div>{{ colors|join(' / ')}}</div>

    {% for color in colors %}
        <div>{{ loop.index }}</div>
        <div style="background-color:{{ color }} ">{{ color }}</div>
    {% endfor %}
    {# un objet #}
    {% set book = {
        title: 'Pifpaf',
        year: 2000,
        author: "John Doe"}
    %}
    <h3>{{ book.author }}</h3>
    <div>
        {% for key, val in book %}
            <div>{{ key }} : {{ val }}</div>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block title %}{{ parent() }} | testounet{% endblock %}
